
                 
        #top{
    
    position: absolute;
    top:125px;
    left: 0px;
    elevation: below;
    width: 100%;
    text-align: center;
    color: green;
    }
        .home{
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: whitesmoke;
    color: green;
    }
    
       
    hr{
        position: absolute;
        top: 160px;
        left: 0px;
        width: 100%;
    }

    #p3{
        
        font-size: 35px;
        font-family: Tahoma;
        font-stretch: ultra-expanded;
        color: #08298A;
        
        text-align: center;
        width: 100%;
	height:35px;
        padding-bottom: 80px;
        padding-top: 20px;
        
    }

    #tr{
        
        color: #0174DF;
        font-family: Bahnschrift;
        text-decoration: underline;
    }
    

      .ScrollStyle
{
    max-height: 150px;
    overflow-y: scroll;
}

#h3{
    
    position: absolute;
    top: 84px;
    left: 80px;
    font-family:Tahoma;
    font-weight: lighter;
    color: #6E6E6E;
    font-size:17px;
   
}
#h4{
    position: absolute;
    top: 85px;
    left: 180px;
    font-family:Tahoma;
    font-weight: lighter;
    color: #088A29;
   
    
    
}

#log{
    position: absolute;
    top: 102px;
    left: 300px;
    color: black;
    font-family: Calibri Light;
    color: #6E6E6E;
}

#main-wrapper{
	
	width:250px;
	
	padding:2px;
	position:absolute;
	top:230px;
	left:4px;
        border: 1px solid black;
        border-color: threedshadow;
         background-color: #A9E2F3;
		
}
#login{
    position: absolute;
    top: 175px;
    left: 5px;
    border: 1px solid black;
    width: 253px;
    height: 37px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background:#81BEF7;
   
    
}
#help{
    font-family: Tahoma;
    color: #6E6E6E;
    position: relative;
    right: 21px;
}
#fog{
    
    position: relative;
    right: 40px;
}
#vr{
    
    height: 13px;
    width: 1px;
    position: relative;
    top: 33px;
    left: 7px;
    border: 1px solid whitesmoke;
    background-color:#6E6E6E; 
    
    
}
#sec{
    
    border: 1px solid black;
    border-color: threedshadow;
    position:absolute;
    top:524px;
    left:4px;
    width: 250px;
    padding: 2px;
    background-color: #A9E2F3;
}
#quick{
    font-family: Tahoma;
    font-size: 15px;
    position: absolute;
    left: 5px;
    top: 470px;
    color: #08298A;
    font-weight: 700;
    border: 1px solid black;
    width: 253px;
    height: 37px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background:#81BEF7;
    
}
#leftcolums{

    position: absolute;
    top: 155px;
    left: 0px;
    border: 1px solid black;  
    width: 270px;
    height: 100%;
    background-color: #E0F8F7;
    border-color: #F2F2F2;
}
#rightspace{
    position: absolute;
    top: 155px;
    left: 270px;
    border: 1px solid black;  
    width: 1380px;
    height: 100%;
    border-color: #A9F5F2;
    border-top-color: #A9D0F5;
    border-top-width: 8px;
    border-left-color: #A9D0F5;
    border-left-width: 8px;
    
}
#border{
    position: absolute;
    top: 515px;
    left: 277px;
    border: 1px solid black;
    border-color: #A4A4A4;
    width: 550px;
    height: 250px;
    background-color: #E0F8F7;

}
#topheader{
    position: absolute;
    top: 527px;
    left: 292px;
    border: 1px solid black;
    width: 520px;
    height: 170px;
    border-color: #F2F2F2;
}
#thought{
    position: absolute;
    top: 527px;
    left: 292px;
    border: 1px solid black;
    width: 520px;
    height: 40px;  
    padding-top: 10px;
    font-family: Tahoma;
    color: #424242;
    background-color: #A4A4A4;
    border-color: #F2F2F2;
}
#matter{
    position: absolute;
    top: 567px;
    left: 294px;
    border: 1px solid black;
    width: 486px;
    height: 130px;  
    padding-top: 10px;
    font-family: Tahoma;
    color: #424242;
    background-color: #E0F8F7;
    border-color: #A4A4A4; 
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 0px;
    
}
#alert{
	color: #424242;
	font-family: Tahoma;
	
}

#leftlogo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 110px;
}
#rightlogo{
    position: absolute;
    top: 0px;
    left: 1540px;
    width: 110px;
}

